@import 'tailwind/output.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
a[href] {
  text-decoration: none;
  color: #1e90ff;
  transition: all 0.3s;
}
a[href]:hover {
  color: #5352ed;
}
::-webkit-scrollbar {
  width: 3px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}
